#set( $input = $ctx.args)
{
  "version": "2018-05-29",
  "method": "GET",
  "resourcePath": "/artists/${input.id}/songs",
  "params": {
    "headers" : {
      "Authorization":"Bearer $input.geniusApiKey"
    },
    "query": {
      "per_page" : "50",
      "sort" : "popularity"
    }
  }
}