.icon {
  margin-left:2%;
  float:left; 
  width:80px;	
 } 
 
 .row {
   width:100%;
   height:auto;
   padding:1%;
   height: 80px;
 }
 
 h4 {
    margin:0px;
 }

 .left-margin {
  margin-left:60px;
 }

 .clear {
   clear:both;
 }